/*
    Hard Boiled CSS Media Queries
    http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries
*/

/* Smartphones (portrait and landscape) ------------------------------------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) -------------------------------------------------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) --------------------------------------------------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPhone 4 ----------------------------------------------------------------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

